.SearchBar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  border-bottom: 2px solid white;
}

.SearchBar__icon {
  $x: 2vh;
  width: $x;
  height: $x;
  margin-right: 1.2rem;
}

.SeachBar__input {
  width: 100%;
  height: 3.2vh;
  background-color: transparent;
  border-style: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2.4vh;
  &::placeholder {
    text-transform: capitalize;
  }
}
