@import '/src/base/variables';
@import '/src/base/responsive';

.Footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.Footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: $footerH;
  max-width: $maxW;
  padding: 0 $padH;
  font-size: 2.5vh;
  @include landscape {
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    // padding: 3.3rem $padH 6.4rem $padH;
  }
  @include desktop {
    font-size: 3.6rem;
  }
}

.Footer__linkText {
  font-family: "GoT", sans-serif;
  position: relative;
  padding: 3px 0;
}

.Footer__link--active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-bottom: 2px solid white;
    animation: linkEffect 0.3s;
  }
}

@keyframes linkEffect {
  from {
    width: 0;
  }
  to {
    width: 100%
  }
}
