@import '/src/base/responsive.scss';

.home{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap:wrap;
  margin:auto;
  max-width: 900px;
  background-color: black;
  
 }

image{
  width: 200px;
  //object-fit: cover;
  margin-bottom: 0px;
  display: block;
  max-height: 200px;
}

text{
 width: 100%;
 color: #fff;
 font-family: "GoT", sans-serif;
 font-size: 20px;
 padding-bottom: 3rem;
 max-height: 200px;
 display: flex;
 align-items: center;
 text-align: center;
}



  .simplebar {
    &-scrollbar {
      &::before {
        background-color: white;
        left: 0;
        right: 0;
      }
      }
    }

