@import '/src/base/responsive.scss';

.c-char-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;

  img {
    max-width: 100%;
  }

  p {
    padding: 1rem 0;
  }

  h1, h2 {
    font-family: "GoT", sans-serif;
    padding-bottom: 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  &__image {
    max-height: 36vh;
    padding-bottom: 2rem;
  }

  &__house-image {
    $x: 20vmin;
    max-height: $x;
    max-width: $x;
  }

  &__top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 3rem;

    @include landscape {
      flex-direction: row;
    }
  }

  &__info {
    padding-top: 8vh;
    @include landscape {
      width: 50%;
      max-height: 28vh;
    }
    @include tablet {
      width: 33%;
    }
    @include desktop {
      width: 16%;
    }
  }
}