// Global

body {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.hero {
  height: 100vh - $headerH - $footerH;
  margin-top: $headerH;
  //TODO Cambiar a black antes del release final
  background-color: navy;
}

[data-simplebar] {
  .simplebar {
    &-scrollbar {
      &::before {
        background-color: white;
        left: 0;
        right: 0;
      }

      &.simplebar-visible {
        &:before {
          opacity: 1;
        }
      }
    }

    &-track {
      &.simplebar-vertical {
        width: 5px;
        background-color: gray;
        border-radius: 20px;

        .simplebar-scrollbar {
          &:before {
            top: 0;
            bottom: 0;
          }
        }
      }
    }

    &-wrapper {
      max-height: 200px;
    }
  }
}